.list-group-item {
  border: none;
  background-color: rgb(75, 63, 63);
  color: white;
}

.row {}

.col-xl-3 {
  height: 100vh;
}

.col-sm-3 {
  background-color: rgb(75, 63, 63);
  height: 100vh;
}

img {
  width: 10%;
  height: 100%;
  border-radius: 50% 50%;
}

.bx-search {
  position: absolute;
  right: 10px;
}

.trang_chu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.py-3 {
  padding: 0;
}

.mb-5.mb-5 {
  margin-bottom: 0;
}
.card-img{
  width: 100%;
  height: 100%;
}