body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}
.card {
  margin-bottom: 16px;
  padding: 0 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
img{
  width: 100%;
  height: auto;
}

.up{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.down{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}